body{
    background: #f2f2f2;
    font: 10pt Verdana;
  }
  
  .footerTest{
    width: 100%;
    margin: 30% auto;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  
  #motto{
    background: rgb(138, 138, 133);
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #fff;
    font: 16pt Georgia;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }
  
  #footerTest{
    background: #22697F;
    padding: 15px 0 15px 0;
  }
  
  .footerWrap{
    margin: auto;
    width: 600px; 
    padding: 5px 0 5px 25px;
  }
  
  .toe{
    overflow: hidden;
    display: inline-block;
    width: 180px;
    margin: 0 15px 15px 0;
    font-size: 10pt;
    line-height: 1.6em;
    vertical-align: top;
  }
  
  .toe a{
    display: block;
    text-decoration: none;
    color: #fff;
  }
  
  .toe a:hover{
    text-decoration: underline;
  }
  
  .toe h3{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 12pt;
    display: inline-block;
    letter-spacing: 1px;
  }
  
  #legal{
    width: 100%;
    text-align: center;
    color: #EAEAEA;
    background: rgb(43, 49, 49);
    font-size: 12pt;
    line-height: 1.6em;
    padding: 10px 10px 30px 10px;
  }
  
  #social a{
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: 0 3px 3px 0;
  }
  